<h4><%= @student.name %></h4>

<p>
  <strong>Family Name:</strong>
  <%= link_to @student.family.family_name, @student.family %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= display_date(@student.date_of_birth) %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @student.rating %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student.active ? "Yes" : "No" %>
</p>