<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Curriculums', curriculums_path %></li>
      <li><%= link_to 'Camps', camps_path %></li>
      <li><%= link_to 'Locations', locations_path %></li>
    </ul>
    <div style="color: #ffd600;" class="right" id="login">
      <%= link_to 'Login', login_path %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Sign Up', new_family_path %>
		</div>
  </div>
</nav>
