<p id="notice"><%= notice %></p>

<% if session[:cart].nil? || session[:cart].empty? %>
  <h4>Your cart is empty!</h4>
  <table>
    <thead>
      <tr>
        <th>Camp Name</th>
        <th>Student</th>
        <th>Start Date</th>
        <th>Cost</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Cost: <%= calculate_total_cart_registration_cost %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Camp Name</th>
        <th>Student</th>
        <th>Start Date</th>
        <th>Cost</th>
        <th>Options</th>
      </tr>
    </thead>
    
    <tbody>
      <% session[:cart].each do |ci| %>
        <tr>
          <td><%= link_to ci["camp_name"], camp_path(ci["ids"][0]) %></td>
          <td><%= link_to ci["student_name"], student_path(ci["ids"][1]) %></td>
          <td><%= display_date(ci["date"].to_date) %></td>
          <td><%= ci["cost"] %></td>
          <td><%= link_to "Remove", remove_from_cart_path(camp_id: ci["ids"][0], student_id: ci["ids"][1]) %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Cost: <%= calculate_total_cart_registration_cost %></td>
        <td><%= link_to(eval("checkout_summary_path"), class: 'waves-effect waves-light btn') do %>
              &nbsp;Checkout
            <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= link_to(eval("clear_path"), class: 'waves-effect waves-light btn') do %>
    &nbsp;Clear
  <% end %>
<% end %>